body {
    background: #f1f1f1;
}

.bj_container {
    width: 1200px;
    margin: 20px auto;
    background: #fff;
}

.bj_cards {
    clear: both;
    overflow: hidden;
}

.bj_card {
    float: left;
    width: 220px;
    height: 220px;
    margin: 10px;
    position: relative;
}

.bj_card img {
    width: 100%;
    height: 100%;
}

.bj_card i {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 42px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-style: normal;
}
.pagination{
    width: 612px;
    margin: 20px auto;
    margin-top: 30px;
}